.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.post {
  color: #0545ff;
  margin-left: 25px;
  cursor: pointer;
}

.post::first-letter {
  text-transform: capitalize;
}

.comment {
  color:  #879ec7;
  margin-left: 50px;
}

.comment::first-letter {
  text-transform: capitalize;
}

.button {
  width: 150px;
  height: 50px;
  background: #f3f0f1;
  position: relative;
  border-radius: 32px;
  cursor: pointer;
}

.singlePost {
  margin: 30px;
}
